@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		font-family: 'Inter';
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}
	h1 {
		@apply text-5xl;
	}

	h2 {
		@apply text-4xl;
	}

	h3 {
		@apply text-3xl;
	}

	h4 {
		@apply text-2xl;
	}

	h5 {
		@apply text-xl;
	}
	.link {
		transition: filter 0.3s ease;
		@apply font-bold;
	}

	.link:hover {
		filter: brightness(1.2);
	}

	.link.primary {
		@apply text-primary-300;
	}

	.btn {
		transition: filter 0.3s ease;
		@apply p-4 font-bold;
	}

	.btn:hover {
		filter: brightness(1.2);
	}

	.btn.primary {
		@apply bg-primary-300 text-white shadow rounded;
	}
}

@layer components {
	@responsive {
		.text-shadow {
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}

		.text-shadow-md {
			text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
		}

		.text-shadow-lg {
			text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11),
				0 5px 15px rgba(0, 0, 0, 0.08);
		}

		.text-shadow-none {
			text-shadow: none;
		}
	}
}

@layer utilities {
	
}